body
{
	color:white;
	background:rgb(70,70,70);
	text-align:center;
	margin:0;
	padding:0;
	background: url(../img/books1.jpg) no-repeat center center fixed;
	-moz-background-size: cover;
	-webkit-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
#posted_table
{
	cursor:pointer;
	background:white;
	color:black;
	text-align:left;
}
#posted_table th
{	
	background:rgb(58, 111, 209);
	color:white;
}
#posted_table tr:hover
{
	font-weight:bold;
}
.like_cell
{
 cursor:pointer;
 text-align:center;
}
.display_cell
{
 text-align:center;
}
.delete_record
{
 text-align: center;
}
.delete_record:hover
{
 color:red;
}
/* mobile */
@media (max-width: 320px) {
#posted_table
{
 font-size:11px;
}
}