#col-title
{
 font-size:30px;
 color:black;
 font-weight:bold;
 color:rgb(80,80,80);
}
#col-desc
{
 font-size:22px;
 color:rgb(80,80,80);
 margin-bottom:10px;
}
#col-text
{
 font-size:20px;
 color:rgb(80,80,80);
}
#totop
{
 width:80px;
 border:1px solid grey;
 background:white;
 text-align:center;
 padding:5px;
 position:fixed;
 bottom:13px;
 right:10px;
 cursor:pointer;
 display:none;
 color:rgb(80,80,80);
 font-family:verdana;
 font-size:12px;
}
#col-title
{ 
 word-wrap: break-word;
}
#col-desc
{ 
 word-wrap: break-word;
 font-size:16px; 
}
#col-text
{
 word-wrap: break-word;
}
#col-add-more
{
 margin:10px 0;
}
/* mobile */
@media (max-width: 576px) {
#col-title
{
 font-size:22px;
}
#col-desc
{
 font-size:15px; 
}
#col-text
{
 font-size:16px;
}
}